#searchContainer{
    margin-top: 100px;
    position: relative;

}

#searchButton{
    font-weight: 600 !important;
    border: 2px solid #007bff !important;
    z-index: 0;
}

.searchBar input{
    height: 3rem;
}